
<form>
    <div class="container mt-2">
  <div class="row">

      <div class="col-md-6 offset-3" >
        <div class="form-group"><label>cus_name</label></labe><input type="text" class="form-control" ng-model="quick.cus_name"> </div>
        <div class="form-group"><label>enterprise_number</label></labe><input type="text" class="form-control" ng-model="quick.enterprise_number"> </div>
        <div class="form-group"><label>companyname</label></labe><input type="text" class="form-control" ng-model="quick.companyname"> </div>
        <div class="form-group"><label>addr</label></labe><input type="text" class="form-control" ng-model="quick.addr"> </div>
        <div class="form-group"><label>taxcode</label></labe><input type="text" class="form-control" ng-model="quick.taxcode"> </div>
        <div class="form-group"><label>licenseno</label></labe><input type="text" class="form-control" ng-model="quick.licenseno"> </div>
        <div class="form-group"><label>dateofissue</label></labe><input type="text" class="form-control" ng-model="quick.dateofissue"> </div>
        <div class="form-group"><label>issuedby</label></labe><input type="text" class="form-control" ng-model="quick.issuedby"> </div>
        <div class="form-group"><label>phone1</label></labe><input type="text" class="form-control" ng-model="quick.phone1"> </div>
        <div class="form-group"><label>email</label></labe><input type="text" class="form-control" ng-model="quick.email"> </div>
        <div class="form-group"><label>service_id</label></labe><input type="text" class="form-control" ng-model="quick.service_id"> </div>
        <div class="form-group"><label>blocked</label></labe><input type="text" class="form-control" ng-model="quick.blocked"> </div>
        <div class="form-group"><label>hotline_number</label></labe><input type="text" class="form-control" ng-model="quick.hotline_number"> </div>
        <div class="form-group"><label>ip_auth</label></labe><input type="text" class="form-control" ng-model="quick.ip_auth"> </div>
        <div class="form-group"><label>ip_proxy</label></labe><input type="text" class="form-control" ng-model="quick.ip_proxy"> </div>
        <div class="form-group"><label>description</label></labe><input type="text" class="form-control" ng-model="quick.description"> </div>
        <div class="form-group"><label>destination</label></labe><input type="text" class="form-control" ng-model="quick.destination"> </div>

        <div class="form-group"><button ng-click="postQuick(quick);" class="btn btn-danger">Post</button> </div>
    </div>
  </div>
        <div class="row" ng-if="error">
            <div class="col-md">

            </div>
        </div>
    </div>

</form>



















